
.cluster {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
}

.innercluster {
    position: absolute;
}

.images-bg {
    display: flex;
    position: absolute;
    width: 100%;
}
.left{
    display: flex;
    flex-direction: column;
}

.pair {
    display: flex;

}