
.about {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-head {
    font-family:FrankRuhMed ;
}

.about-para {
    text-align: center ;
    padding-left: 20px;
}

.gallery {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fe97f2;
    border-radius: 6px;
    border-color: #f970e9;
    color: aliceblue;
    font-weight: bold;
}

.girl-img {
    background-color: #e0e0e0;
    width: auto;
    height: 500px;
    position: relative;
}

.girl {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.plant1 {
    position: absolute;
    bottom: 0%;
    width: 50%;
    height: 70%;

    z-index: 1;
}
.plant2 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0%;
    bottom: 0%;
    width: 50%;
    height: 70%;
    z-index: 1;
}
@media (max-width: 768px) {
    .about {

    }
    .home-sec{
        display: grid;
        grid-template-columns:  repeat(1, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 768px) {
    .about{
      
    }
    .home-sec{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }