.navbar {
    display: flex;
    background-color: #ffa8ef;
  }
  
  .nav-ul {
    display: flex;
    list-style: none;
    padding: 0%;
  }
  
  .nav-li {
    display: flex;
    margin-left: 20px;
  }
  
  .logo {
    font-family: GreatVibesReg;
    color: aliceblue;
  }
  
  .nav-li {
    font-family: FrankRuhMed;
    color: aliceblue;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
    }
  }
  
  @media (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      padding-left: 50px;
      padding-right: 50px;
      align-items: center;
    }
  }
  