@font-face {
  font-family: FrankRuhMed;
  src: url('./assets/fonts/FrankRuhlLibre-Medium.ttf');
}

@font-face {
  font-family: FrankRuhReg ;
  src: url('./assets//fonts/FrankRuhlLibre-Regular.ttf');
}

@font-face {
  font-family: GreatVibesReg;
  src: url('./assets//fonts/GreatVibes-Regular.ttf');
}
body{
  padding: 0%;
  margin: 0%;
}

#footer {
  background-color: #ff20d2;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
